body{
    background-image: url(Imagenes/photo-1528819027803-5473f2bf7633.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.blanco{
    color: white;
}
.Menu ol{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    
}
.PaginaPrincipal{
    text-align: center;
}
.Texto1{
    margin-left: 10%;
    margin-right: 10%;
}
th{
    background-color: coral;
    text-decoration: underline;
}
td{
    background-color: lightcoral;
}
a:hover{
    color: blue;
    cursor: pointer;
    background-color: green;
}
iframe{
    margin-left: 10%;
}